
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure reports
reports/
allure-results/
allure-report/

# Optional (recommended for Playwright projects)
playwright-report/
test-results/